<!DOCTYPE html>
{% load static %}
<html>
    <head>
            <link rel="stylesheet" type="text/css" href="{% static "css/style1.css" %}" />
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
               <title>My First Page</title>
    </head>

    <body>
        <nav class="navbar navbar-expand-sm bg-dark fixed-top">
                <ul class="navbar-nav">
                        <li class="nav-item">
                          <a class="nav-link" href="#home1">Home</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="#education1">Education</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="#education2">Technical Skills</a>
                        </li>
                        <li class="nav-item">
                                <a class="nav-link" href="#extra1">Extra-Curricular</a>
                              </li>
                         <li class="nav-item">
                                <a class="nav-link" href="#">View Resume</a>
                          </li>
                      </ul>
                    
        </nav>
        <div id="home1" class="container">
            Hello
        </div>
        <div id="education1" class="container">
            There
        </div>
        <div id="education2" class="container">
            World
        </div>
        <div id="extra1" class="container">
            
        </div>
        
    



      <!-- <div class="container-fluid">
           <div class="jumbotron">       
               <h2>Hey There! </h2>
               <h5>This website is not completed yet. Be the First to know when it's ready!</h5>
        <img src="{% static "speed.png" %}" /> 
        
            </div>
 
        </div>

        <div class="card" style="width:35%;margin:0 auto;">
            <div class="card-header">Sign Up for Updates</div>
            <div class="card-body" style="padding-left:20%;">
                <form method="POST">
                    {{form.as_p}}
                    {% csrf_token %}
                   <p style="margin:0 auto"> <input type="submit" class="btn btn-primary" value="Submit"></p>
                </form>
            </div>
        </div>
    -->
    </body>
</html>